.inputArea {
  display: flex;
  gap: 10px;
  padding: 10px;
  background: white;
  input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 50px;
  }
  button {
    padding: 10px 14px;
    background: #4a8cff;
    color: white;
    border-radius: 6px;
    margin-bottom: 50px;
  }
}
